---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Cálculo Numérico">
	<main>
		<h1>Bem-vindo ao <span class="text-gradient">Cálculo Numérico</span></h1>
		<p class="instructions">
			O Cálculo Numérico é uma área da Matemática que utiliza métodos numéricos para resolver problemas matemáticos por meio de <strong>computadores</strong>. Neste projeto, exploraremos tópicos como solução de sistemas de equações lineares, localização de raízes, interpolação polinomial, integração numérica e resolução numérica de equações diferenciais.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="#"
				title="Erros em processos numéricos"
				body="Erro absoluto, erro relativo, erro de truncamento e erro de arredondamento."
			/>
			<Card
				href="#"
				title="Solução numérica de sistemas de equações lineares"
				body="Métodos diretos (eliminação gaussiana, fatoração LU), métodos iterativos (Jacobi, Gauss-Seidel)."
			/>
			<Card
				href="#"
				title="Solução numérica de equações"
				body="Localização de raízes, método da bisseção, método da posição falsa, aproximações sucessivas, método de Newton, método da secante."
			/>
			<Card
				href="#"
				title="Interpolação e aproximação de funções"
				body="Interpolação polinomial (Lagrange e Newton), estudo do erro na interpolação."
			/>
			<Card
				href="#"
				title="Integração numérica"
				body="Regras dos trapézios, regras de Simpson e estudo do erro."
			/>
			<Card
				href="#"
				title="Solução numérica de equações diferenciais ordinárias"
				body="Método de Euler, métodos de série de Taylor, métodos de Runge-Kutta, métodos de passo múltiplo (implícitos e explícitos), métodos de previsão correção. Aplicação dos métodos estudados para equações de ordem superior."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 700px;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
